<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Started</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: seashell; margin-left: 82%">
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="navbar-text">
                Hi, {{ user }}
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/home/logout/" style="color: rebeccapurple">Logout</a>
            </li>
        </ul>
      </div>
    </nav>
</head>
<body style="background-color: seashell">
    <h4 id="id_heading">Choose the most apt answer according to the given primary image.</h4>
    <img alt="" src="" style="padding-left: 38%; width: 60%" id="id_primary_image">
{#    <form method="post">#}
        {% csrf_token %}
{#        {{ form.as_p }}#}
{#    </form>#}

    <form method="post" id="id_form_options">
        {% csrf_token %}
        <p>
            <label>Options:</label>
        </p>
        <ul id="id_Options">
            <li>
                <label for="id_Options_0">
                    <input type="checkbox" name="Options" value="4" id="id_Options_1">
                    <img src="" style="width:260px; height:160px" class="cls_secondaryimage_1">
                </label>

            </li>
            <li>
                <label for="id_Options_1">
                    <input type="checkbox" name="Options" value="" id="id_Options_2">
                    <img src="" style="width:260px; height:160px" class="cls_secondaryimage_2">
                </label>
            </li>
            <li>
                <label for="id_Options_2">
                    <input type="checkbox" name="Options" value="" id="id_Options_3">
                    <img src="" style="width:260px; height:160px" class="cls_secondaryimage_3">
                </label>
            </li>
        </ul>
        <p></p>
    </form>

    <div id="#id_score" style="display: none"></div>
    <div style="display: none">
        <span class="cls_gameid" style="display: none">{{ gameid }}</span>
        <span class="cls_primary" style="display: none">{{ primary_images }}</span>
        <span class="cls_secondary" style="display: none">{{ secondary_images }}</span>
        <span class="cls_primary_indexes" style="display: none">{{ primary_indexes }}</span>
        <span class="cls_secondary_indexes" style="display: none">{{ secondary_indexes }}</span>
{#        <span class="cls_player1" style="display: none">{{ player1 }}</span>#}
{#        <span class="cls_player2" style="display: none">{{ player2 }}</span>#}
        <span class="cls_loggedinuser" style="display: none">{{ user }}</span>
    </div>
    <div id="loading" style="display: none;margin-left: 40%;margin-top: 20%;">
        <p>Please wait while we are recording your score &#128512;</p>
    </div>
    <button class="btn btn-primary cls_newgame" style="display: none; margin-left: 39%; margin-top: 3%;">Start a New Game</button>
    <button class="btn-danger btn btn-primary cls_exit" style="display: none;margin-top: 3%;margin-left: 3%;">Exit</button>
    <button class="btn btn-primary cls_save_game" type="submit" style="margin-left: 50%; margin-top: -8%">Next</button>
</body>
<script>
    $(document).ready(function(){
        // your code
        let gameid = $('.cls_gameid')[0].innerText;
        window.localStorage.setItem('Round'+gameid, '1');
        setPrimaryAndSecondaryImages(gameid);
    });

    $('.cls_save_game').on("click", ()=>{

        // If none of the checkbox is selected

        if(!$('#id_Options_1')[0].checked && !$('#id_Options_2')[0].checked && !$('#id_Options_3')[0].checked){
            alert('Please select atleast one option');
        }

        // Save data of round n in window local storage and show new
        // primary image and new secondary images for round n+1

        else{
            let user = $('.cls_loggedinuser')[0].innerText;
            let gameid = $('.cls_gameid')[0].innerText;
            let round = window.localStorage.getItem('Round'+gameid);
            if(round === '4'){
                $('.cls_save_game')[0].innerText = "End Game"
            }
            // data stores my answers of every round
            let data = null;
            if(JSON.parse(window.localStorage.getItem("Answer"+gameid))){
                data = JSON.parse(window.localStorage.getItem("Answer"+gameid))[gameid][user];
            }
            // Answers for round 1 are submitted

            if(!data){
                let res = getAnswerData(user, gameid, round);
                console.log(res);
                window.localStorage.setItem('Answer'+gameid, JSON.stringify(res));
                round = parseInt(round);
                round += 1;
                window.localStorage.setItem('Round'+gameid, String(round));
            }

            // Append answers of rounds 2,3,4,5 in the same Answer key of window local storage

            else{
                let answer = JSON.parse(window.localStorage.getItem('Answer'+gameid))[gameid][user];
                let roundno = parseInt(window.localStorage.getItem('Round'+gameid));
                let roundnostr = 'round'+roundno;
                let res = getAnswerData(user, gameid, roundno);
                let totalrounds = {};
                let finalanswer = {};
                answer[roundnostr] = res[gameid][user][roundnostr];
                totalrounds[user] = answer;
                finalanswer[gameid] = totalrounds;
                window.localStorage.setItem('Answer'+gameid, JSON.stringify(finalanswer));
                roundno += 1;
                window.localStorage.setItem('Round'+gameid, String(roundno));
                if(roundno === 6){
                    makeAjaxRequest(gameid, user);
                }
            }

            //Unchecking checkbox of previous round
            $('#id_Options_1')[0].checked = false;
            $('#id_Options_2')[0].checked = false;
            $('#id_Options_3')[0].checked = false;

            // Now show new primary image and new secondary images for next round(max 5)
            if(parseInt(window.localStorage.getItem('Round'+gameid)) < 6){
                setPrimaryAndSecondaryImages(gameid);
            }
        }
    });

    function getAnswerData(user, gameid, round) {
        let primaryImage = $('#id_primary_image')[0].src;
        let secondaryCheckedImages = [];
        let secondaryImages = [];
        secondaryImages.push($('.cls_secondaryimage_1')[0].src);
        secondaryImages.push($('.cls_secondaryimage_2')[0].src);
        secondaryImages.push($('.cls_secondaryimage_3')[0].src);
        if($('#id_Options_1')[0].checked){
            secondaryCheckedImages.push($('.cls_secondaryimage_1')[0].src);
        }
        if($('#id_Options_2')[0].checked){
            secondaryCheckedImages.push($('.cls_secondaryimage_2')[0].src);
        }
        if($('#id_Options_3')[0].checked){
            secondaryCheckedImages.push($('.cls_secondaryimage_3')[0].src);
        }
        let player = {};
        let dummy = {};
        let dummy2 = {};
        let res = {};
        dummy['primaryImages'] = primaryImage;
        dummy['secondaryImages'] = secondaryImages;
        dummy['secondaryCheckedImages'] = secondaryCheckedImages;
        player['round'+round] = dummy;
        dummy2[user] = player;
        res[gameid] = dummy2;
        return res;
    }

    function setPrimaryAndSecondaryImages(gameid) {
        let round = window.localStorage.getItem('Round'+gameid);
        round = parseInt(round);
        let primaryImages = $('.cls_primary')[0].innerText.split(',');
        let secondaryImages = $('.cls_secondary')[0].innerText.split(',');
        let primaryIndexes = $('.cls_primary_indexes')[0].innerText.split(',');
        let secondaryIndexes = $('.cls_secondary_indexes')[0].innerText.split('|');
        $('#id_primary_image')[0].src = primaryImages[parseInt(primaryIndexes[round-1])];
        $('.cls_secondaryimage_1')[0].src = secondaryImages[parseInt(secondaryIndexes[round-1].split(',')[0])];
        $('.cls_secondaryimage_2')[0].src = secondaryImages[parseInt(secondaryIndexes[round-1].split(',')[1])];
        $('.cls_secondaryimage_3')[0].src = secondaryImages[parseInt(secondaryIndexes[round-1].split(',')[2])];
    }

    function makeAjaxRequest(gameid, user) {
        let cleartimeout = null;
        $.ajax({
            url: '/game/round/',
            data: {
                'answers': window.localStorage.getItem("Answer"+gameid),
                'user': user,
                'gameid': gameid,
                'csrfmiddlewaretoken': document.cookie.split('csrftoken=')[1]
            },
            method: 'post',
            beforeSend: function () {
                $('#id_primary_image').hide();
                $('#id_form_options').hide();
                $('#id_heading').hide();
                $('.cls_save_game').hide();
                $("#loading").show();
                cleartimeout = setTimeout(function abc(){
                    $('#loading').html("<p>Please wait for your partner to finish the game....</p>");
                    }, 5000);
            },
            success: function (data) {
                clearTimeout(cleartimeout);
                console.log(data);
                let msg = '';
                if(!data.score){
                    $('#loading').html("<p>Please wait for your partner to finish the game....</p>");

                }
                if(data.score === 0){
                    msg = "<h2> Your score is 0 &#128557;</h2>"
                }
                else if(data.score === 1){
                    msg = "<h2> Your score is 1 &#128546;</h2>"
                }
                else if(data.score === 2){
                    msg = "<h2> Your score is 2 &#128533;</h2>"
                }
                else if(data.score === 3){
                    msg = "<h2> Your score is 3 &#128578;</h2>"
                }
                else if(data.score === 4){
                    msg = "<h2> Your score is 4 &#129312;</h2>"
                }
                else if(data.score === 5){
                    msg = "<h2> Your score is 5 &#127881;</h2>"
                }
                $('#loading').html(msg);
                $('.cls_save_game').hide();
                $('.cls_newgame').show();
                $('.cls_exit').show();
                $('#id_primary_image').hide();
                $('#id_form_options').hide();
                $('#id_heading').hide();
            }
        });
    }
    $('.cls_newgame').on("click", () => {
        window.location = '/'
    });

    $('.cls_exit').on("click", () => {
        window.location = '/home/logout/'
    });

</script>

</html>